.content_container {
  width: 90vw;
  margin: auto;
}

.section-2 {
  width: 358px;
  height: 198px;
  box-shadow: 0px 3px 100px rgba(0, 0, 0, 0.1);
  margin: 30px 0;
  border-radius: 20px;
}
.section-2-content {
  height: 50%;
}
.section-2-content .header {
  width: 100%;
  height: 21px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height */

  color: #800080;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.section-2-content .content {
  font-family: "Poppins";
  height: 48px;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 48px;
  margin: 0;
  order: 1;
  text-align: left;
}
.section-2-content .content p {
  margin: 0;
}
.section-2-content .content-container {
  width: 111px;
  height: 70px;
  margin: auto;
}
.section-2-content .content-container-left {
  width: 111px;
  height: 70px;
  margin-left: 70px;
}
.section-2-content button {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 12px;
}
.section-3-header {
  width: 228px;
  height: 36px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #800080;
}
.section-3-container {
  margin-top: 5px;
  color: #800080;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;

  text-align: center;
  width: 100%;
  letter-spacing: 1.5em;

  border: 1px solid #800080;
  border-radius: 10px;
}
.section-4 {
  padding: 57px 0;
}
.section-4-header {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  /* identical to box height */

  color: #800080;
}
.section-4-body {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 65px;
  margin-top: 20px;
}
.section-4-avatar {
  width: 35px;
  height: 65px;
  background: rgba(217, 217, 217, 0.25);
  border-radius: 75px;
  display: flex;
  align-items: center;
  margin: auto;
  padding: 0 15px;
}
.section-4-avatar p {
  font-family: "Verdana";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 39px;

  background: linear-gradient(270deg, #800080 0%, #ff864c 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.section-4-body-content {
  margin-left: 20px;
}
.section-4-body-content .header {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */

  color: #000000;
}
.section-4-body-content .content {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  color: #4d4d4d;
}
.section-4-body-content .content p {
  margin: 0;
}
.section-4-body-content .header p {
  margin: 0;
}
.footer {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */

  color: #800080;
}
.footer .footer-terms {
  margin-top: 20px;
}

/* media Queries */
@media only screen and (min-width: 600px) {
  .content_container {
    max-width: 73%;
  }
  .section-4-body {
    height: 85px;
  }
  .section-1 {
    padding: 30px 0 25px 0;
  }
}
@media only screen and (min-width: 900px) {
  .section-2 {
    width: 486px;
    height: 188px;
    box-shadow: 0px 3px 100px rgba(0, 0, 0, 0.1);
    margin: 30px 0;
  }
  .section-2-content button {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    width: 186px;
    height: 42px;
  }
  .css-gljf50-MuiGrid-root {
    max-width: "40%" !important;
  }
  .css-11lq3yg-MuiGrid-root {
    width: "90%";
  }
  .section-3-container {
    width: 75%;
  }
  .section-3 {
    width: 85%;
    margin: auto;
    padding-left: 150px;
  }
  .section-4-body {
    width: 85%;
    height: 65px;
  }
}
